defaults: &DEFAULTS
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost

development:
  <<: *DEFAULTS
  database: adoteumpedido_dev

test:
  <<: *DEFAULTS
  database: adoteumpedido_test
