@import "compass";
@import "compass/reset";
@import "bourbon/bourbon";
@import "bootstrap";
@import "semantic_bootstrap/grid";
@import "semantic_bootstrap/base";

$color_main: #69D2E7;
$color_main_v: #A7DBD8;
$color_secondary: #FA6900;
$color_secondary_v: #F38630;
$color_white: #F7F7F7;
$color_black: #333;
$color_main_to_link: darken($color_main, 25%);

a{
  color: $color_main_to_link;
  &:hover, &:visited{
    color: $color_main_to_link;
    text-decoration: none;
  }
}

body{
  background-color: $color_white;
  > div{
    @include container();
  }
  ul, ol{
    margin-left: 0;
  }
}

header{
  @include row(true);
  border-bottom: 2px solid $color_main;
  padding-top: 30px;
  margin-bottom: 20px;
  @include clearfix;
  nav{
    @include columns(6, true);
    li{
      float: left;
      a{
        color: $color_secondary;
        font-family: $helvetica;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        &.active{
          text-decoration: none;
          color: #999;
        }
      }
      + li{
        margin-left: 30px;
      }
    }
  }
  h1{
    @include columns(5);
    margin: 0;
    float: right;
    font-size: modular-scale(14px, 1, 1.618);
    font-weight: 700;
    line-height: modular-scale(14px, 1, 1.618);
    text-align: right;
    > a, a:visited{
      text-decoration: none;
      color: $color_main;
    }
  }
}

#welcome{
  @include row(true);
  margin: 50px 0 30px;
  p{
    @include lead;
  }
}

#new_foi_container{
  @include row(true);

  li{
    @include clearfix;
  }
  textarea, input{
    @include columns(7, true);
    float: left;
  }
  .inline-hints{
    @include columns(5);
  }
  label{
    font-weight: 700;
  }
}

#new_request{
  text-align: center;
  a{
    @include button(success);
    padding: 20px 20px;
    font-size: 20px;
  }
}

#orphans_requests{
  margin-top: 40px;
}

#requests{
  li.request{
    border-bottom: 1px solid #FFF;
    + li {
      border-top: 1px solid #E6E6E6;
    }
    &:last-child{
      border-bottom: none;
    }
    &:hover a{
      background-color: #FFF;
    }
  }
  a{
    display: block;
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 10px;
  }
  h3{
    font-size: 20px;
    line-height: 24px;
    margin: 0 {
      bottom: 10px
    }
    @include columns(8);
    color: $color_black;
  }
  blockquote{
    @include columns(3, true);
    float: right;
    font-size: 12px;
    color: lighten($color_black, 30%);
  }
  .info{
    @include columns(8);
    margin: 15px 0 0;
    li{
      float: left;
      margin-right: 20px;
      font-weight: 700;
    }
  }
  time{
    clear: both;
    display: block;
    font-size: 12px;
    font-style: italic;
  }
}