@import "compass";
@import "compass/reset";
@import "bourbon/bourbon";
@import "bootstrap";
@import "semantic_bootstrap/base";

$color_main: #69D2E7;
$color_main_v: #A7DBD8;
$color_secondary: #FA6900;
$color_secondary_v: #F38630;
$color_white: #F7F7F7;
$color_black: #333;
$color_main_to_link: darken($color_main, 25%);

a{
  color: $color_main_to_link;
  &:hover, &:visited{
    color: $color_main_to_link;
    text-decoration: none;
  }
}

button{
  @include button(success);
}

body{
  background-color: $color_white;
  overflow-y: scroll;
  ul, ol{
    margin-left: 0;
  }
}

time{
  clear: both;
  display: block;
  font-size: 12px;
  font-style: italic;
  color: $color_main;
}

footer{
  margin-top: 60px;
  border-top: 1px solid $color_main;
  padding-top: 30px;
  p.lead{
    font-size: 18px;
    text-align: center;
  }
}


header{
  border-bottom: 2px solid $color_main;
  padding-top: 30px;
  margin-bottom: 20px;
  @include clearfix;
  nav{
    li{
      float: left;
      a, a:visited{
        color: $color_secondary;
        font-family: $helvetica;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        &.active{
          text-decoration: none;
          color: #999;
        }
      }
      + li{
        margin-left: 20px;
      }
    }
  }
  h1{
    margin: 0;
    float: right !important;
    font-size: modular-scale(14px, 1, 1.618);
    font-weight: 700;
    line-height: modular-scale(14px, 1, 1.618);
    text-align: right;
    > a, a:visited{
      text-decoration: none;
      color: $color_main;
    }
  }
}

#welcome{
  margin: 50px 0 30px;
  p{
    @include lead;
  }
}
#home_links{
  a {
    margin-top: 10px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 23px;
    &:visited{
      color: #FFF;
    }
  }
}
#new_adopt_link{
  text-align: center;
  a{
    @include button(success);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#orphans_requests{
  margin-top: 40px;
}

#requests{
  li.request{
    border-bottom: 1px solid #FFF;
    + li {
      border-top: 1px solid #E6E6E6;
    }
    &:last-child{
      border-bottom: none;
    }
    &:hover a{
      background-color: #FFF;
    }
  }
  a{
    display: block;
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 10px;
  }
  h3{
    font-size: 20px;
    line-height: 24px;
    margin: 0 {
      bottom: 10px
    }
    color: $color_black;
  }
  blockquote{
    font-size: 12px;
    float: rigth;
    color: lighten($color_black, 30%);
  }
  .info{
    overflow: hidden;
    margin: 15px 0 0;
    li{
      float: left;
      margin-right: 20px;
      font-weight: 700;
    }
  }
}

form{
  li{
    @include clearfix;
    position: relative;
    &.error{
      input, textarea{
        border-color: #F00;
        &:focus{
          border-color: rgba(255, 50, 50, 0.8);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 50, 50, 0.6);
        }
      }

    }
  }
  textarea, input{
    left: 10px;
    float: left !important;
  }
  .inline-hints{
    float: right;
  }
  .inline-errors{
    display: none;
  }
  label{
    font-weight: 700;
  }
  .actions{
    button{
      float: right;
      margin: 0 15px 0 0;
    }
  }
}

#observation{
  @extend blockquote;
  border-color: $color_secondary;
  padding: 15px;
  background-color: #FFF;
  margin-bottom: 20px;
  p{
    margin-bottom: 10px
  }
}

#new_adopt_container, #request, #adopt{
  .actions{
    width: auto;
    float: right;
    button{
      margin: 0;
    }
  }
  textarea, input{
    width: 100%;
  }
}

#request, #adopt{
  #description, #diff{
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #EEE;
    margin-bottom: 20px;
  }
  h4{
    margin: 0 0 5px 0;
  }

  time{
    color: $color_main_to_link;
  }
  #comments{
    margin-top: 40px;

    li{
      padding: 10px 5px;
      border-bottom: 1px solid #FFF;
      + li {
        border-top: 1px solid #E6E6E6;
      }
      &:last-child{
        border-bottom: none;
      }
    }
    time{
      margin-bottom: 5px;
      color: $color_main;
    }
  }
}

aside{
  float: right;
  #adopts, #comments{
    h3{
      margin-top: 0;
    }
    li{
      padding: 0 5px 10px 5px;
      + li {
        border-top: 1px solid #EEE;
        padding-top: 10px;
      }
    }
  }
}

#request_aside{
  #new_adopt_link a{
    width: 90%;
  }
}

#diff{
  del{
    color: #FF0033;
  }
  ins{
    color: #00a37a;
  }
}

#about{
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 1px 1px 1px #FFF;
}
