<% content_for(:title) do %>Entenda Como Funciona<% end %>
<div id="about" class="row-fluid">
  <div class="span8 offset2">
    <h2><%= t(:about, scope: [:titles]) %></h2>
    <%= simple_format t(:about, scope: [:texts]) %>
  </div>
</div>
