<div id="welcome" class="row-fluid">
  <h2><%= t(:home, scope: [:titles]) %></h2>

  <%= simple_format t(:home, scope: [:texts]) %>
</div>

<div id="home_links" class="row-fluid">
  <span class="offset3 span12"></span>
    <%= link_to t(:new, scope: [:request, :action]), new_request_path, class: "btn btn-success span3 offset3" %>
    <%= link_to t(:show, scope: [:request, :action]), requests_path, class: "btn btn-success span3" %>
</div>
